<launch>
    <arg name="catkin" default="/home/evgenii/catkin_ws"/>
    <arg name="model" default="$(arg catkin)/src/dd_control/urdf/dd.urdf"/>
    <arg name="rvizconfig" default="$(arg catkin)/src/dd_control/rviz/urdf.rviz" />
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model dd_model -param robot_description -y 0 -x 0 -z 0"/>
    
    <!-- load the controllers -->
    <rosparam command="load" file="$(arg catkin)/src/dd_control/config/dd.yaml" ns="dd_controller"/>
    <node name="dd_controller_spawner" pkg ="controller_manager" type="spawner" output="screen" args="dd_controller" />
    
    <!-- converts joint states to TF transforms -->
        
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
    
</launch>
